<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>Twitter Atom feeds</title>
  <link href="/static/style.css" rel="stylesheet" type="text/css" />
</head>

<script type="text/javascript">
function update() {
  url = document.getElementById('url');
  url.href = url.textContent = (document.getElementById('html').checked)
    ? url.href.replace('/atom?', '/html?')
    : url.href.replace('/html?', '/atom?');
}
</script>

<body>

<div id="header">
  <img id="logo" src="/static/twitter_atom_small.jpg"></img>
  <p id="title"><span>Generated new feed</span></p>
</div>

<div id="body">
<p>Here's your feed URL. It's private, so don't share it. Enjoy!</p>
<p><nobr>
<a id="url" href="{{ atom_url }}" class="feed-url">{{ atom_url }}</a>
</nobr></p>

<p id="format">
<input type="radio" id="atom" name="format" value="atom" checked onchange="update()">
<label for="atom">Atom</label>
<input type="radio" id="html" name="format" value="html" onchange="update()">
<label for="html">HTML with <a href="http://microformats.org/wiki/microformats2">microformats2</a></label>
</p>

<p>This URL isn't stored, but don't worry, you can always come back and
regenerate it!</p>

<div id="bottom"></div>

<div id="footer">
  <a href="https://github.com/snarfed/twitter-atom">Source</a>
  | <a href="https://github.com/snarfed/twitter-atom/issues">Questions?</a>
  | <a href="https://facebook-atom.appspot.com/">facebook-atom</a>
  | <a href="https://instagram-atom.appspot.com/">instagram-atom</a>
</div>

</body>
</html>
